body{
	margin:0px;
	padding: 0px;
	background-color: #EAEDF1;
}

a{
	text-decoration: none;
}

h1{
	font-size: 2em;
	padding: 0px;
	margin-top: 0px;
}
h3{
	padding: 0px;
	margin: 0px;
}
.wrappage{
	width:100%;
}
#left,#right{
	float: left;
}
#left{
	width:15%;
	background-color: #2F4050;
	min-height:700px;
	position: fixed;
}
#right{
	/*min-width:85%;*/
	position: absolute;
	width:85%;
	/*min-height:700px;*/
	left:15%;
	margin-top: 50px;
}
#logo{
	height:50px;
	display: block;
	color: #EAEDF1;
	background-color: #1ADBB0;
	font-family: 'exo';
	line-height: 50px;
	padding-left: 10px;
	font-size: 2em;
	font-weight: bolder;
}
#user{
	height:100px;
	padding:10px;
	padding-top: 15px;
	font-family: exo;
}

#top-nav{
	height:50px;
	background-color: #F9FAFC;
	width:100%;
	position: fixed;
	top:0px;
	z-index: 1;
}
#top-nav a{
	display: block;
	min-width:40px;
	line-height: 50px;
	float: left;
	text-align: center;
	padding: 0px;
	overflow: hidden;
	max-height: 50px;
}

#top-nav-right{
	border: 1px solid #ccc;
}
#runinfo{
	width:93.6%;
	margin-left: 1%;
}
#welcome{
	width:100%;
	height: 90px;
	background-color: rgba(0,0,0,0.6);
	font-family:'exo';
	position: relative;
	color: #fff;
	font-weight: thin;
	padding: 15px;
}

#welcomemessage{
	font-size: 2em;
}

#header{
	height:200px;
	width:100%;
	background-image: url("../images/motor.jpg");
	background-size: 100% auto;
	background-position: 100% 60%;
}

#menutitle{
	color: #9197A9;
	margin:10px;
	font-weight: bold;
}

#nav{
	padding-top: 10px;
}

#nav a{
	color:#eee;
}
#nav a:hover,#nav a:focus{
	color: #000;
	background-color:#1ADBB0;
}

#nav ul li ul {
	color: black;
}
#nav ul li ul a{
	color: #fff;
	padding-left: 30px;
	background-color: #1E2133;	
	border-left: 5px solid #1ADBB0;
}
#labelshowlaporan{
	display: block;
	line-height: 30px;
}
.laporan  {
	display: none;
}
#showLaporan{
	display: none;
}
.subs input[type=checkbox]:checked ~ .laporan{
	display: block;
}

#footer{
	text-align: left;
	background-color: #fff;
	position:relative;
	bottom: 0px;
	line-height: 20px;
	padding: 4px;
	color: #9197A9;
}

#content,#HomeContent{
	padding:15px;
	min-height: 600px;
}

.clock{
	font-size: 4em;
	color: #fff;
	font-family: exo;
	text-align: center;
}

.overlay{
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;
	top:0px;
	left:0px;
	display: none;
}

.resizable{
	position: relative;
	top:20%;
	left: 25%;
	border: 1px solid #fff;
	width:600px;
	height:400px;
	background-color: #fff;
	padding: 15px;
}

#search,#showcari{
	display: none;
	opacity: 0;
}

#pencarian input[type=checkbox]:checked ~ #search{
	display: block;
	opacity: 1;
}

.circular {
	width: 60px;
	height: 60px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border:1px solid #1ADBB0;
	float: left;
}
.circular-image{
	position: 2px;
}

.textUser{
	margin:12px;
	margin-left: 20px;
	float:left;
	color: #fff;
	font-size: 1.2em;
}

.panel-heading{
	background-color: #fff;
}

.status-stock{
	padding: 3px 10px 3px 10px;
	
}